.table {
    width: 80%;
    background-color: #EFEDED;
    border: 1px solid black;
    margin: auto;
}
.barre-recherche > input{
    background-color: #FFDB5A;
}
.pagination {
    margin-bottom: 15px;

}
.infos-mots {
    position:relative;
    top:150px;
    width:350px;
    height:350px;
    background-color: black;
}
/*tr:active{*/
/*    background-color: #6d76f7;*/
/*}*/
table, tr, td {
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
}