.table {
    width: 80%;
    background-color: #EFEDED;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}
.barre-recherche > input{
    background-color: #FFDB5A;
}
.pagination {
    margin-bottom: 15px;

}
.infos-mots {
    position:relative;
    top:150px;
    width:350px;
    height:350px;
    background-color: black;
}
table, tr, td{
    border-spacing: 0;
}
th {
    border-bottom: 1px solid black;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}